<div class="wrapper">
<div class="container">

  <div class="col-xs-12 col-md-4 col-md-offset-4">


    <h1>Stupid Coaching</h1>


    <form action="/answer" method="get">
      <div class="form-group">
        <label for="question">Ey wtf willst du?</label>
        <div class="boxandline">
        <input type="text" name="question" placeholder="???" class="form-control">
        <input type="submit" value="Ask!!" class="btn btn-primary">
        </div>
      </div>
    </form>


  </div>
</div>
</div>
